<form [formGroup]="noteForm" (ngSubmit)="saveNote()" class="form" autocomplete="off">
  <div>
    <label class="label" for="input-title">Title
      <input type="text" id="input-title" value="Title" formControlName="title" name="title" class="title-input">
    </label>
  </div>
  <div>
    <textarea type="text" id="input-text" class="title-input input-text" rows="5" columns="40" maxlength="400"
      spellcheck="false" formControlName="text" name="text"></textarea>
  </div>
  <div> 
    <input type="submit" class="btn" [disabled]="!noteForm.valid" value="Save Note" >
    <button (click)="deleteNote()" class="btn" style="margin-left: 10%;"> Delete Note</button>
  </div>

</form>
<div style="margin-left: 20px; margin-top: 20px;">
  <button class="btn" (click)="toNotes()">Back</button>
</div>